<form novalidate (ngSubmit)="saveAndNext()" #form="ngForm">

  <div class="row">
    <div class="col">
      <app-input name="firstname" label="Firstname" [(model)]="personalData.firstname" ngModel></app-input>
    </div>
    <div class="col">
      <app-input name="lastname" label="Lastname" [(model)]="personalData.lastname" ngModel></app-input>
    </div>

  </div>
  <pre>{{form.value | json}}</pre>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Next</button>
</form>
