<div class="form-group"
    [class.has-success]="inputModel.valid && required !== false"
    [class.has-danger]="inputModel.invalid && !inputModel.pristine && required !== false">

  <label>{{label}}<span *ngIf="required !== false">*</span></label>
  <input type="text"
         class="form-control form-control-danger form-control-success"

         [name]="name"
         [minlength]="minlength"
         [maxlength]="maxlength"
         [pattern]="pattern"

         [(ngModel)]="value"

         #inputModel="ngModel"
         [required]="required">

</div>
